[Unit]
Description=WrecklabOS Startup
Before=klipper.service octoprint.service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/pi/scripts/firstrun.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
