[Unit]
Description=Wreck3D Controller Startup
Before=klipper.service octoprint.service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/pi/scripts/update_v2.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
